 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/american-public-power-association-XGAZzyLzn18-unsplash1.jpg");
  background-position: 51.3% 92.63%;
}

.u-section-1 .u-sheet-1 {
  min-height: 973px;
}

.u-section-1 .u-group-1 {
  width: 934px;
  min-height: 306px;
  box-shadow: 0 0 40px 4px rgba(26,26,26,0.4);
  margin: 181px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 19px 0 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 0 0 8px rgba(255,255,255,1);
  font-weight: normal;
  margin: 19px 30px 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  letter-spacing: 1px;
  text-shadow: 0 0 8px rgba(255,255,255,1);
  margin: 9px 42px 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  text-shadow: 0 0 8px rgba(255,255,255,1);
  font-weight: normal;
  margin: 43px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-shadow: 0 0 8px rgba(255,255,255,1);
  text-align: center;
  font-weight: 600;
  width: 236px;
  margin: 57px auto 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 802px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1034px;
}

.u-section-2 .u-list-1 {
  width: 327px;
  margin: 161px 813px 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 302px;
  grid-gap: 20px 20px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 11px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 12px 12px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 11px 0 0;
}

.u-section-2 .u-list-2 {
  width: 327px;
  margin: -302px auto 0;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: 100%;
  min-height: 302px;
  grid-gap: 20px 20px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 11px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 185px;
  margin: 13px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 10px 0 0;
}

.u-section-2 .u-list-3 {
  width: 327px;
  margin: -302px 0 0 auto;
}

.u-section-2 .u-repeater-3 {
  grid-template-columns: 100%;
  min-height: 302px;
  grid-gap: 20px 20px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 11px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 13px 33px 0 41px;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 10px 0 0;
}

.u-section-2 .u-list-4 {
  width: 327px;
  margin: 41px auto 0 0;
}

.u-section-2 .u-repeater-4 {
  grid-template-columns: 100%;
  min-height: 302px;
  grid-gap: 20px 20px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 11px auto 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 185px;
  margin: 13px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 10px 0 0;
}

.u-section-2 .u-list-5 {
  width: 327px;
  margin: -302px auto 0;
}

.u-section-2 .u-repeater-5 {
  grid-template-columns: 100%;
  min-height: 302px;
  grid-gap: 20px 20px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-2 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 11px auto 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 185px;
  margin: 13px auto 0;
}

.u-section-2 .u-text-10 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 10px 0 0;
}

.u-section-2 .u-list-6 {
  width: 327px;
  margin: -302px 0 60px auto;
}

.u-section-2 .u-repeater-6 {
  grid-template-columns: 100%;
  min-height: 302px;
  grid-gap: 20px 20px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-2 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 10px auto 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 185px;
  margin: 14px auto 0;
}

.u-section-2 .u-text-12 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-top: 60px;
    margin-right: 613px;
  }

  .u-section-2 .u-list-2 {
    margin-top: -640px;
  }

  .u-section-2 .u-text-5 {
    width: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    margin-right: 393px;
  }

  .u-section-2 .u-list-2 {
    margin-top: -384px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    margin-right: 213px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-2 {
    margin-top: -242px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    margin-right: 13px;
  }
}.u-block-a4b6-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-a4b6-3 {
  position: absolute;
  left: 0;
}

.u-block-a4b6-4 {
  position: absolute;
  right: 0;
}

 .u-section-3-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/solar_panels.jpeg");
  background-position: 50% 50%;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 1005px;
}

.u-section-3-1 .u-text-1 {
  font-weight: 700;
  text-shadow: 0 0 8px rgba(241,235,252,1);
  font-size: 4.5rem;
  margin: 50px 0 0;
}

.u-section-3-1 .u-text-2 {
  text-align: center;
  font-size: 1.5rem;
  width: 837px;
  text-shadow: 1px -2px 15px rgba(173,246,242,1);
  margin: 57px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-3-1 .u-text-1 {
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-3-1 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-3-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-3-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }

  .u-section-3-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-3-1 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
  }

  .u-section-3-1 .u-text-2 {
    width: 340px;
  }
}

 .u-section-3-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/5cdfaa6b1a88192fdc979d7abca23c5dd688ae8a1d3948bad742ca298ea1a39d6d18bd2426b3e8cfdf485308877f5f690774ecd105496678e5d93b_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3-2 .u-sheet-1 {
  min-height: 1005px;
}

.u-section-3-2 .u-text-1 {
  font-weight: 700;
  text-shadow: 0 0 8px rgba(241,235,252,1);
  margin: 144px auto 0;
}

.u-section-3-2 .u-text-2 {
  width: 837px;
  text-shadow: 0 0 8px rgba(44,204,196,1);
  margin: 81px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-3-2 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-3-2 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-3-2 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-3-2 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }

  .u-section-3-2 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-3-2 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
  }

  .u-section-3-2 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
}

 .u-section-3-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/shutterstock_72500704.0.0.jpg");
  background-position: 50% 50%;
}

.u-section-3-3 .u-sheet-1 {
  min-height: 1005px;
}

.u-section-3-3 .u-text-1 {
  font-weight: 700;
  text-shadow: 0 0 8px rgba(241,235,252,1);
  margin: 144px auto 0;
}

.u-section-3-3 .u-text-2 {
  width: 837px;
  text-shadow: 0 0 8px rgba(44,204,196,1);
  font-size: 1.875rem;
  margin: 81px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-3-3 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-3-3 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-3-3 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-3-3 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }

  .u-section-3-3 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-3-3 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
  }

  .u-section-3-3 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1094px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1285px;
  margin: 101px 0 60px -145px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 431px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 34px 0 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-image-1 {
  min-height: 414px;
  background-image: url("images/istockphoto-157593959-612x612.jpg");
  background-position: 14.63% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 845px;
}

.u-section-4 .u-text-3 {
  font-size: 3.75rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 148px 0 0;
}

.u-section-4 .u-image-2 {
  height: 365px;
  object-position: 33.41% 50%;
  width: 390px;
  margin: 34px auto 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 432px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  width: 444px;
  height: 390px;
  margin: -6px -24px 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 413px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0;
}

.u-section-4 .u-text-5 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 315px;
  }

  .u-section-4 .u-image-1 {
    background-position: 67.53% 30.49%;
    background-size: auto 110%;
    min-height: 303px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 618px;
  }

  .u-section-4 .u-image-2 {
    height: 263px;
    width: 281px;
  }

  .u-section-4 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 316px;
  }

  .u-section-4 .u-image-3 {
    width: 281px;
    height: 247px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 302px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1508px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 696px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 363px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1516px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 522px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 545px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1121px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 329px;
  }

  .u-section-4 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 343px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1051px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 8px rgba(65,128,124,1);
  margin: 37px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 856px;
  grid-gap: 20px 20px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 239px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 2px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 239px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-text-5 {
  margin: 20px 2px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  height: 239px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-text-7 {
  margin: 20px 2px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-top: 190px;
  }

  .u-section-5 .u-list-1 {
    margin-top: -58px;
    margin-bottom: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 706px;
  }

  .u-section-5 .u-image-1 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-top: 961px;
  }

  .u-section-5 .u-list-1 {
    margin-top: -829px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 1622px;
  }

  .u-section-5 .u-image-1 {
    height: 224px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 224px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 224px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: 1776px;
  }

  .u-section-5 .u-list-1 {
    margin-top: -1644px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 388px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 388px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 388px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 1742px;
  }

  .u-section-5 .u-list-1 {
    margin-top: -1631px;
  }

  .u-section-5 .u-image-1 {
    height: 239px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 239px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 239px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-6 {
  background-image: url("images/8c1940c5d628a4ff869a9aa6c4c2acd245f6ca2c4fa267a7bc2bc82a54f485cc7148203b4839302cb86b15d5789e876e33cc178a4edd1b860e9bc0_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 654px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-image-1 {
  min-height: 518px;
  background-image: url("images/american-public-power-association-XGAZzyLzn18-unsplash1.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-image-2 {
  width: 255px;
  height: 255px;
  background-image: url("images/image.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  letter-spacing: 1px;
  text-shadow: 0 0 8px rgba(255,255,255,1);
  text-align: center;
  font-weight: 600;
  width: 234px;
  margin: 4px auto 0;
}

.u-section-6 .u-image-3 {
  min-height: 518px;
  background-image: url("images/a925dd38238f01534c0a08b72c1e702f212ca7ef4261410c34856f2171ae8d4d49f327603d2c58f26f954fe139887bec39d82cdcb960c056894db9_1280.jpg");
  background-position: 49.35% 94.51%;
  background-size: auto 140%;
}

.u-section-6 .u-container-layout-2 {
  padding: 18px 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  text-align: center;
  margin: 52px auto 0;
}

.u-section-6 .u-form-1 {
  height: 313px;
  margin-top: 45px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-6 .u-image-1 {
    min-height: 427px;
  }

  .u-section-6 .u-image-3 {
    min-height: 427px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-6 .u-image-1 {
    min-height: 327px;
  }

  .u-section-6 .u-image-3 {
    min-height: 327px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 225px;
  }

  .u-section-6 .u-image-1 {
    min-height: 491px;
  }

  .u-section-6 .u-image-3 {
    min-height: 491px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    min-height: 309px;
  }

  .u-section-6 .u-image-3 {
    min-height: 309px;
  }

  .u-section-6 .u-form-1 {
    margin-top: 33px;
  }
}